<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Product detail</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a ui-sref="index.main">Products grid</a>
            </li>
            <li class="active">
                <strong>Product detail</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <form name="form" ng-submit="addToCart(form)" novalidate>
    <div class="row">
        <div class="col-lg-12">

            <div class="ibox product-detail">
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-5">

                            <slick dots="true">

                                <div>
                                    <div class="image-imitation">
                                       <img src="{{product.imageUrl}}" alt="{{product.Iitle}}" class="img-responsive" style="margin-left:auto;margin-right:auto;">
                                    </div>
                                </div>
   
                            </slick>

                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                               {{product.Title}}
                            </h2>
                            <div class="m-t-md">
                                <h2 class="product-main-price"> {{product.Price | currency}} <small class="text-muted">Exclude Tax</small> </h2>
                            </div>
                            <hr>

                            <h4>Product description</h4>

                            <div class="small text-muted">
                                  {{product.Description}}
                            </div>
                            <dl class="small m-t-md">
                                <dt>Category</dt>
                                <dd>{{product.Category}}</dd>
                                <dt>Author</dt>
                                <dd>{{product.Author}}</dd>
                                <dt>Stock</dt>
                                <dd>{{product.Stock}}</dd>
                                <dt>Status</dt>
                                <dd>{{product.Status}}</dd>
                            </dl>
                            <hr>

                            <div class="row">                              
                               <div class="col-md-2"><h4>Qty</h4></div>
                               <div class="col-md-5">
                                  <select name="qty" id="qty" class="form-control" ng-model="cart.Qty">
                                    <option value="">Please select Qty</option>
                                    <option ng-repeat="i in getQtyList(product.Stock) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                                  </select>
                               </div>
                            </div>

                            <div>
                                <div class="btn-group"> 
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                            <span class="pull-right">
                                Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                            </span>
                    The generated Lorem Ipsum is therefore always free
                </div>
            </div>

        </div>
    </div>
    </form>   
</div>