
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>E-commerce grid</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a>E-commerce</a>
            </li>
            <li class="active">
                <strong>Products grid</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" >
    <div class="row" >
     <input ng-model="searchKeyword" value="" id="search" class="form-control" ng-keypress="myGrid='animated fadeInRightBig'" placeholder="Search">
     <br></br>
     <div >

     <select class="form-control ng-pristine ng-untouched ng-valid ng-not-empty" style="width: 15%;margin-bottom: 1%; margin-left: 84%;" ng-model="sorts" ng-change="order(sorts);myGrid='animated fadeInRightBig'">
       <option label="Select order by" value="Select order by" selected>Select order by</option>
        <option label="A to Z" value="A to Z" >A to Z</option>
        <option label="Z to A" value="Z to A">Z to A</option>
        <option label="Highest Price" value="Highest Price">Highest Price</option>
        <option label="Lowest Price" value="Lowest Price">Lowest Price</option>
      </select>
     </div>
        <div id="containerProduct" ng-class="myGrid" class="col-md-3 " ng-repeat="product in lastFiltered | filter:q | filter:searchKeyword | orderBy:predicate:reverse | startFrom:currentPage*pageSize | limitTo:pageSize " >
            <div class="ibox">
                <div class="ibox-content product-box">
                    <div class="product-imitation" ng-mouseover="hoverIn();myClass = 'product-name  fadeInUp blur animated caption-text'" ng-mouseleave="hoverOut();myClass = 'product-name blur caption-text animated fadeOutDown'">
                    <img src="{{product.imageUrl}}" alt="{{product.Iitle}}" class="img-responsive makecenter">
                      <span  ng-show="hoverTitle" ng-class="myClass" > 
                          <a  ui-sref="commerce.product_details({id : product._id})" style="color:gainsboro;">
                          {{product.Title}}
                          </a>
                        </span>
                       
                    </div>
                    <div>
                      <span class="product-price">
                                     {{product.Price | currency}}
                                </span>
                    </div>
                    <div class="product-desc">
                              
                        <small class="text-muted" style="font-size:100%"> {{product.Category}}</small>
                        <!--<a ui-sref="commerce.product_details({id : product._id})" class="product-name">  {{product.Title}}</a>-->
                        <div class="small m-t-xs">
                             {{product.Decription}}
                        </div>
                        <div class="m-t text-right">
                            <a ui-sref="commerce.product_details({ id : product._id})" class="btn btn-xs btn-primary" style="font-size: medium;"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                            <a ui-sref="commerce.product_details({ id : product._id})" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <table style="width:100%">
    <tr>
      <td>
        <button class="btn btn-primary" 
        ng-disabled="currentPage == 0"
         ng-click="currentPage=currentPage-1">
                                Previous
        </button>
        {{currentPage+1}}/{{numberOfPages()}}
        <button class="btn btn-primary" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1;myGrid='animated'">
        Next
        </button>
      </td>
      <td>
         <select  ng-options="v for v in items.values" ng-model="pageSize" id="pageSize" class="form-control">

         </select>
      </td>
     </tr>
     </table>
<br></br>
</div>