<nav class="navbar-default navbar-static-side" role="navigation" ng-controller=" NavbarController as nav ">
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown >
                    <a uib-dropdown-toggle href>
                            <span class="clear">
                                <span class="block m-t-xs">
                                    <strong class="font-bold" ng-show="nav.isLoggedIn()">Welcome, {{nav.getCurrentUser().firstname}} {{nav.getCurrentUser().lastname}}</strong>
                             </span>
                                <span class="text-muted text-xs block">Example menu<b class="caret"></b></span>
                            </span>
                    </a>
                    <ul uib-dropdown-menu class="animated flipInX m-t-xs">
                        <li><a ui-sref="login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>

            </li>

            <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.settings"><i class="fa fa-desktop"></i> <span class="nav-label">Change password</span></a>
            </li>
             <li ui-sref-active="active" ng-show="nav.isLoggedIn()">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">E-Commerce</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('commerce')}">
                    <li ui-sref-active="active"><a ui-sref="index.products_grid">Products grid</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.product_list">Products list</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.product">Product edit</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.product_details">Product detail</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.cart">Cart</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.orders">Orders</a></li>
                    <li ui-sref-active="active"><a ui-sref="index.payments">Credit Card form</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>